/* ----------------
     Fonts Style
    ---------------  */

/* ----------------
   Common Styles or Utilities
   -----------------  */
body{
    font-family: 'Poppins', sans-serif !important;
}
.orange{
    color: #E76F51;
}
/* --------------------
   Banner Section Style
--------------------- */
.top-banner, .trending-bg{
	background-color: #264653;
}
.font-large{
    font-size: 48px;
}
.header-name{
	color: #E0E0E0;
}
.honda-details{
    font-size: small;
}
.custom-btn{
    color: white;
    background-color: #E76F51;
    padding: 10px 45px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
}
/* Featured Bikes Section */
.gray-scale {
    filter: grayscale(100%);
}
.fa-star-style{
 color: #E77C40;
}